//------------------------------------//
//  Tokens
//------------------------------------//

.c-btn {
  --button-background-color            :   var(--color-primary);

  --button-border-color                :   var(--color-border);
  --button-border-radius               :   var(--border-radius);
  --button-border-style                :   none;
  --button-border-width                :   0;

  --button-color                       :   white;

  --button-font-family                 :   var(--font-family);
  --button-font-size                   :   var(--font-size);
  --button-font-weight                 :   var(--font-weight);
  --button-letter-spacing              :   0;
  --button-line-height                 :   1;
  --button-text-transform              :   none;

  --button-padding-bottom              :   1em;
  --button-padding-left                :   2em;
  --button-padding-right               :   2em;
  --button-padding-top                 :   1em;

  --button-transition-delay            :   var(--transition-delay);
  --button-transition-duration         :   var(--transition-duration--fast);
  --button-transition-property         :   all;
  --button-transition-timing-function  :   var(--transition-timing-function);

  //  Hover
  --button-background-color--hover     :   var(--button-color);
  --button-border-color--hover         :   var(--button-background-color);
  --button-border-style--hover         :   var(--button-border-style);
  --button-border-width--hover         :   var(--button-border-width);
  --button-color--hover                :   var(--button-background-color); 

  //  Focus
  --button-background-color--focus     :   var(--button-background-color--hover);
  --button-border-color--focus         :   var(--button-border-color--hover);
  --button-border-style--focus         :   var(--button-border-style--hover);
  --button-border-width--focus         :   var(--button-border-width--hover);
  --button-color--focus                :   var(--button-color--hover);
  --button-outline-color--focus        :   var(--button-border-color--hover);
  --button-outline-style--focus        :   var(--button-border-style--hover);
  --button-outline-width--focus        :   var(--button-border-width--hover);
}



//------------------------------------//
//  Default Button
//------------------------------------//

.c-btn {
  appearance: none;
  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
  border-radius: var(--button-border-radius);
  border-style: var(--button-border-style);
  border-width: var(--button-border-width);
  color: var(--button-color);
  cursor: pointer;
  display: inline-block;
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  letter-spacing: var(--button-letter-spacing);
  line-height: var(--button-line-height);
  padding-bottom: var(--button-padding-bottom);
  padding-left: var(--button-padding-left);
  padding-right: var(--button-padding-right);
  padding-top: var(--button-padding-top);
  text-transform: var(--button-text-transform);
  transition-delay: var(--button-transition-delay);
  transition-duration: var(--button-transition-duration);
  transition-property: var(--button-transition-property);
  transition-timing-function: var(--button-transition-timing-function);
  vertical-align: middle;
  white-space: nowrap;

  &, 
  &:hover,
  &:focus {
      text-decoration: none;
  }

  &:hover {
    background-color: var(--button-background-color--hover);
    border-color: var(--button-border-color--hover);
    border-style: var(--button-border-style--hover);
    border-width: var(--button-border-width--hover);
    color: var(--button-color--hover);
  }

  &:focus {
    background-color: var(--button-background-color--focus);
    border-color: var(--button-border-color--focus);
    border-style: var(--button-border-style--focus);
    border-width: var(--button-border-width--focus);
    color: var(--button-color--focus);
    outline-color: var(--button-outline-color--focus);
    outline-style: var(--button-outline-style--focus);
    outline-width: var(--button-outline-width--focus);
  }
}



//------------------------------------//
//  Sizes
//------------------------------------//

.c-btn--small {
  --button-font-size      :   1.4rem;
}

.c-btn--large {
  --button-font-size      :   3rem;
}

.c-btn--full {
  text-align: center;
  width: 100%;
}



//------------------------------------//
//  Colours
//------------------------------------//

.c-btn--border {
  --button-background-color            :   none;
  --button-border-color                :   var(--color-primary);
  --button-border-style                :   solid;
  --button-border-width                :   1px;
  --button-color                       :   var(--color-text);
  
  --button-border-color--hover         :   var(--button-border-color);
  --button-border-style--hover         :   var(--button-border-style);
  --button-border-width--hover         :   var(--button-border-width);
}

.c-btn--disabled {
  --button-background-color            :   var(--color-muted);
  --button-color                       :   var(--color-text);

  cursor: text;
}

.c-btn--error {
  --button-background-color            :   var(--color-error);
}

.c-btn--secondary {
  --button-background-color            :   var(--color-secondary);
  --button-color                       :   var(--color-text);
}

.c-btn--success {
  --button-background-color            :   var(--color-success);
}



//------------------------------------//
//  With Icon
//------------------------------------//

.c-btn--has-icon {
  align-items: center;
  display: flex;
}