<a href="" class="c-btn c-btn--small">Small Size</a>

<hr class="jigsaw-hr">

<a href="" class="c-btn">Default Size</a>

<hr class="jigsaw-hr">

<a href="" class="c-btn c-btn--large">Large Size</a>

<hr class="jigsaw-hr">

<a href="" class="c-btn c-btn--full">Full Width</a>