<a href="" class="c-btn c-btn--border">Button Border</a>
<hr class="jigsaw-hr">
<a href="" class="c-btn c-btn--disabled">Disabled Button</a>
<hr class="jigsaw-hr">
<a href="" class="c-btn c-btn--error">Button Error</a>
<hr class="jigsaw-hr">
<a href="" class="c-btn c-btn--secondary">Button Secondary Colour</a>
<hr class="jigsaw-hr">
<a href="" class="c-btn c-btn--success">Button Success</a>