:root {
  --color-body:   #ffffff;
  --color-text:   #000000;
  --color-primary:   #2c97a8;
  --color-secondary:   #fbf86b;
  --color-border:   #eeeeee;
  --color-error:   red;
  --color-success:   green;
  --color-muted:   #ddd; }

:root {
  --box-shadow:   0 0 18px rgba(0,0,0,0.2);
  --border-color:   var(--color-border);
  --border-radius:   5px;
  --border-style:   solid;
  --border-width:   1px;
  --transition-delay:   0s;
  --transition-duration:   0.5s;
  --transition-duration--fast:   0.1s;
  --transition-duration--slow:   1s;
  --transition-timing-function:   ease-in-out; }

:root {
  --font-family:   sans-serif;
  --font-size:   1.6rem;
  --font-weight:   normal;
  --line-height:   1.5; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  background-color: #ffffff;
  background-color: var(--color-body);
  color: #000000;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-family);
  font-weight: normal;
  font-weight: var(--font-weight);
  line-height: 1.5;
  line-height: var(--line-height); }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  vertical-align: middle;
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-size: var(--font-size);
  font-weight: normal;
  font-weight: var(--font-weight);
  margin: 0; }

a {
  color: currentColor;
  text-decoration: none; }

.u-hide-text {
  display: inline-block;
  text-indent: -999em;
  white-space: nowrap;
  overflow: hidden; }

.u-visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  
  clip: rect(1px, 1px, 1px, 1px); }

.u-scrollto {
  position: relative;
  top: -150px;
  height: 0; }

.u-text-size--xxl {
  font-family: sans-serif;
  font-family: var(--typography--xxl-font-family);
  font-size: 3.2rem;
  font-size: var(--typography--xxl-font-size);
  font-weight: normal;
  font-weight: var(--typography--xxl-font-weight);
  line-height: 1.5;
  line-height: var(--typography--xxl-line-height);
  text-transform: none;
  text-transform: var(--typography--xxl-text-transform); }

.u-text-size--xl {
  font-family: sans-serif;
  font-family: var(--typography--xl-font-family);
  font-size: 2.4rem;
  font-size: var(--typography--xl-font-size);
  font-weight: normal;
  font-weight: var(--typography--xl-font-weight);
  line-height: 1.5;
  line-height: var(--typography--xl-line-height);
  text-transform: none;
  text-transform: var(--typography--xl-text-transform); }

.u-text-size--l {
  font-family: sans-serif;
  font-family: var(--typography--l-font-family);
  font-size: 1.8rem;
  font-size: var(--typography--l-font-size);
  font-weight: normal;
  font-weight: var(--typography--l-font-weight);
  line-height: 1.5;
  line-height: var(--typography--l-line-height);
  text-transform: none;
  text-transform: var(--typography--l-text-transform); }

.u-text-size--m {
  font-family: sans-serif;
  font-family: var(--typography--m-font-family);
  font-size: 1.6rem;
  font-size: var(--typography--m-font-size);
  font-weight: normal;
  font-weight: var(--typography--m-font-weight);
  line-height: 1.5;
  line-height: var(--typography--m-line-height);
  text-transform: none;
  text-transform: var(--typography--m-text-transform); }

.u-text-size--s {
  font-family: sans-serif;
  font-family: var(--typography--s-font-family);
  font-size: 1.4rem;
  font-size: var(--typography--s-font-size);
  font-weight: normal;
  font-weight: var(--typography--s-font-weight);
  line-height: 1.5;
  line-height: var(--typography--s-line-height);
  text-transform: none;
  text-transform: var(--typography--s-text-transform); }

.u-text-size--xs {
  font-family: sans-serif;
  font-family: var(--typography--xs-font-family);
  font-size: 1.2rem;
  font-size: var(--typography--xs-font-size);
  font-weight: normal;
  font-weight: var(--typography--xs-font-weight);
  line-height: 1.5;
  line-height: var(--typography--xs-line-height);
  text-transform: none;
  text-transform: var(--typography--xs-text-transform); }

.u-text-align--center {
  text-align: center; }

.u-text-align--left {
  text-align: left; }

.u-text-aligh--right {
  text-align: right; }

.jigsaw-hr {
  background-color: rgba(0, 0, 0, 0.25);
  border: 0;
  height: 1px;
  margin-bottom: 2rem;
  margin-top: 2rem; }

.c-btn {
  --button-background-color:   var(--color-primary);
  --button-border-color:   var(--color-border);
  --button-border-radius:   var(--border-radius);
  --button-border-style:   none;
  --button-border-width:   0;
  --button-color:   white;
  --button-font-family:   var(--font-family);
  --button-font-size:   var(--font-size);
  --button-font-weight:   var(--font-weight);
  --button-letter-spacing:   0;
  --button-line-height:   1;
  --button-text-transform:   none;
  --button-padding-bottom:   1em;
  --button-padding-left:   2em;
  --button-padding-right:   2em;
  --button-padding-top:   1em;
  --button-transition-delay:   var(--transition-delay);
  --button-transition-duration:   var(--transition-duration--fast);
  --button-transition-property:   all;
  --button-transition-timing-function:   var(--transition-timing-function);
  --button-background-color--hover:   var(--button-color);
  --button-border-color--hover:   var(--button-background-color);
  --button-border-style--hover:   var(--button-border-style);
  --button-border-width--hover:   var(--button-border-width);
  --button-color--hover:   var(--button-background-color);
  --button-background-color--focus:   var(--button-background-color--hover);
  --button-border-color--focus:   var(--button-border-color--hover);
  --button-border-style--focus:   var(--button-border-style--hover);
  --button-border-width--focus:   var(--button-border-width--hover);
  --button-color--focus:   var(--button-color--hover);
  --button-outline-color--focus:   var(--button-border-color--hover);
  --button-outline-style--focus:   var(--button-border-style--hover);
  --button-outline-width--focus:   var(--button-border-width--hover); }

.c-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
  border-radius: var(--button-border-radius);
  border-style: var(--button-border-style);
  border-width: var(--button-border-width);
  color: var(--button-color);
  cursor: pointer;
  display: inline-block;
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  letter-spacing: var(--button-letter-spacing);
  line-height: var(--button-line-height);
  padding-bottom: var(--button-padding-bottom);
  padding-left: var(--button-padding-left);
  padding-right: var(--button-padding-right);
  padding-top: var(--button-padding-top);
  text-transform: var(--button-text-transform);
  -webkit-transition-delay: var(--button-transition-delay);
          transition-delay: var(--button-transition-delay);
  -webkit-transition-duration: var(--button-transition-duration);
          transition-duration: var(--button-transition-duration);
  -webkit-transition-property: var(--button-transition-property);
  transition-property: var(--button-transition-property);
  -webkit-transition-timing-function: var(--button-transition-timing-function);
          transition-timing-function: var(--button-transition-timing-function);
  vertical-align: middle;
  white-space: nowrap; }
  .c-btn, .c-btn:hover, .c-btn:focus {
    text-decoration: none; }
  .c-btn:hover {
    background-color: var(--button-background-color--hover);
    border-color: var(--button-border-color--hover);
    border-style: var(--button-border-style--hover);
    border-width: var(--button-border-width--hover);
    color: var(--button-color--hover); }
  .c-btn:focus {
    background-color: var(--button-background-color--focus);
    border-color: var(--button-border-color--focus);
    border-style: var(--button-border-style--focus);
    border-width: var(--button-border-width--focus);
    color: var(--button-color--focus);
    outline-color: var(--button-outline-color--focus);
    outline-style: var(--button-outline-style--focus);
    outline-width: var(--button-outline-width--focus); }

.c-btn--small {
  --button-font-size:   1.4rem; }

.c-btn--large {
  --button-font-size:   3rem; }

.c-btn--full {
  text-align: center;
  width: 100%; }

.c-btn--border {
  --button-background-color:   none;
  --button-border-color:   var(--color-primary);
  --button-border-style:   solid;
  --button-border-width:   1px;
  --button-color:   var(--color-text);
  --button-border-color--hover:   var(--button-border-color);
  --button-border-style--hover:   var(--button-border-style);
  --button-border-width--hover:   var(--button-border-width); }

.c-btn--disabled {
  --button-background-color:   var(--color-muted);
  --button-color:   var(--color-text);
  cursor: text; }

.c-btn--error {
  --button-background-color:   var(--color-error); }

.c-btn--secondary {
  --button-background-color:   var(--color-secondary);
  --button-color:   var(--color-text); }

.c-btn--success {
  --button-background-color:   var(--color-success); }

.c-btn--has-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

:root {
  --typography--xxl-font-family: var(--font-family);
  --typography--xxl-font-size: 3.2rem;
  --typography--xxl-font-weight: var(--font-weight);
  --typography--xxl-line-height: var(--line-height);
  --typography--xxl-text-transform: none;
  --typography--xl-font-family: var(--font-family);
  --typography--xl-font-size: 2.4rem;
  --typography--xl-font-weight: var(--font-weight);
  --typography--xl-line-height: var(--line-height);
  --typography--xl-text-transform: none;
  --typography--l-font-family: var(--font-family);
  --typography--l-font-size: 1.8rem;
  --typography--l-font-weight: var(--font-weight);
  --typography--l-line-height: var(--line-height);
  --typography--l-text-transform: none;
  --typography--m-font-family: var(--font-family);
  --typography--m-font-size: var(--font-size);
  --typography--m-font-weight: var(--font-weight);
  --typography--m-line-height: var(--line-height);
  --typography--m-text-transform: none;
  --typography--s-font-family: var(--font-family);
  --typography--s-font-size: 1.4rem;
  --typography--s-font-weight: var(--font-weight);
  --typography--s-line-height: var(--line-height);
  --typography--s-text-transform: none;
  --typography--xs-font-family: var(--font-family);
  --typography--xs-font-size: 1.2rem;
  --typography--xs-font-weight: var(--font-weight);
  --typography--xs-line-height: var(--line-height);
  --typography--xs-text-transform: none; }

.c-text--xxl {
  --font-size: 3.2rem;
  font-family: sans-serif;
  font-family: var(--typography--xxl-font-family);
  font-size: 3.2rem;
  font-size: var(--typography--xxl-font-size);
  font-weight: normal;
  font-weight: var(--typography--xxl-font-weight);
  line-height: 1.5;
  line-height: var(--typography--xxl-line-height);
  text-transform: none;
  text-transform: var(--typography--xxl-text-transform); }

.c-text--xl {
  --font-size: 2.4rem;
  font-family: sans-serif;
  font-family: var(--typography--xl-font-family);
  font-size: 2.4rem;
  font-size: var(--typography--xl-font-size);
  font-weight: normal;
  font-weight: var(--typography--xl-font-weight);
  line-height: 1.5;
  line-height: var(--typography--xl-line-height);
  text-transform: none;
  text-transform: var(--typography--xl-text-transform); }

.c-text--l {
  --font-size: 1.8rem;
  font-family: sans-serif;
  font-family: var(--typography--l-font-family);
  font-size: 1.8rem;
  font-size: var(--typography--l-font-size);
  font-weight: normal;
  font-weight: var(--typography--l-font-weight);
  line-height: 1.5;
  line-height: var(--typography--l-line-height);
  text-transform: none;
  text-transform: var(--typography--l-text-transform); }

.c-text--m {
  font-family: sans-serif;
  font-family: var(--typography--m-font-family);
  font-size: 1.6rem;
  font-size: var(--typography--m-font-size);
  font-weight: normal;
  font-weight: var(--typography--m-font-weight);
  line-height: 1.5;
  line-height: var(--typography--m-line-height);
  text-transform: none;
  text-transform: var(--typography--m-text-transform); }

.c-text--s {
  --font-size: 1.4rem;
  font-family: sans-serif;
  font-family: var(--typography--s-font-family);
  font-size: 1.4rem;
  font-size: var(--typography--s-font-size);
  font-weight: normal;
  font-weight: var(--typography--s-font-weight);
  line-height: 1.5;
  line-height: var(--typography--s-line-height);
  text-transform: none;
  text-transform: var(--typography--s-text-transform); }

.c-text--xs {
  --font-size: 1.2rem;
  font-family: sans-serif;
  font-family: var(--typography--xs-font-family);
  font-size: 1.2rem;
  font-size: var(--typography--xs-font-size);
  font-weight: normal;
  font-weight: var(--typography--xs-font-weight);
  line-height: 1.5;
  line-height: var(--typography--xs-line-height);
  text-transform: none;
  text-transform: var(--typography--xs-text-transform); }
