:root {
  --color-body        :   #ffffff;
  --color-text        :   #000000;

  --color-primary     :   #2c97a8;
  --color-secondary   :   #fbf86b;

  --color-border      :   #eeeeee;

  --color-error       :   red;
  --color-success     :   green;
  
  --color-muted       :   #ddd;
}
