html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  background-color: var(--color-body);
  color: var(--color-text);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: var(--line-height); }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  vertical-align: middle;
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  margin: 0; }

a {
  color: currentColor;
  text-decoration: none; }

.u-hide-text {
  display: inline-block;
  text-indent: -999em;
  white-space: nowrap;
  overflow: hidden; }

.u-visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  
  clip: rect(1px, 1px, 1px, 1px); }

.u-scrollto {
  position: relative;
  top: -150px;
  height: 0; }

.u-text-size--xxl {
  font-family: var(--typography--xxl-font-family);
  font-size: var(--typography--xxl-font-size);
  font-weight: var(--typography--xxl-font-weight);
  line-height: var(--typography--xxl-line-height);
  text-transform: var(--typography--xxl-text-transform); }

.u-text-size--xl {
  font-family: var(--typography--xl-font-family);
  font-size: var(--typography--xl-font-size);
  font-weight: var(--typography--xl-font-weight);
  line-height: var(--typography--xl-line-height);
  text-transform: var(--typography--xl-text-transform); }

.u-text-size--l {
  font-family: var(--typography--l-font-family);
  font-size: var(--typography--l-font-size);
  font-weight: var(--typography--l-font-weight);
  line-height: var(--typography--l-line-height);
  text-transform: var(--typography--l-text-transform); }

.u-text-size--m {
  font-family: var(--typography--m-font-family);
  font-size: var(--typography--m-font-size);
  font-weight: var(--typography--m-font-weight);
  line-height: var(--typography--m-line-height);
  text-transform: var(--typography--m-text-transform); }

.u-text-size--s {
  font-family: var(--typography--s-font-family);
  font-size: var(--typography--s-font-size);
  font-weight: var(--typography--s-font-weight);
  line-height: var(--typography--s-line-height);
  text-transform: var(--typography--s-text-transform); }

.u-text-size--xs {
  font-family: var(--typography--xs-font-family);
  font-size: var(--typography--xs-font-size);
  font-weight: var(--typography--xs-font-weight);
  line-height: var(--typography--xs-line-height);
  text-transform: var(--typography--xs-text-transform); }

.u-text-align--center {
  text-align: center; }

.u-text-align--left {
  text-align: left; }

.u-text-aligh--right {
  text-align: right; }
